* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #b6b6b6;
}

.ui {
    background-color: #3283fc;
    padding: 20px;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-around;
}

.square {
    height: 10px;
    width: 10px;
    border-bottom: 1px solid #5a5a5aa6;
    border-right: 1px solid #5a5a5aa6;
    transition: 100ms;
}

.square.alive {
    background-color: #fae100;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn {
    font-weight: 700;
    background-color: #000000;
    color: #ffffff;
    padding: 30px 30px;
    border-radius: 15px;
    z-index: 1;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 7px #0000009c;
    box-shadow: 0px 0px 15px 3px #0000009c;
    transition: 100;
}

.btn.active {
    padding: 30px 34px;
}

.btn:active {
    -webkit-box-shadow: inset 0px 0px 6px 7px #7575758f;
    box-shadow: inset 0px 0px 6px 7px #7575758f;
}