body {
    margin: 0;
    background-color: #b6b6b6;
    box-sizing: border-box;
}

.ui {
    background-color: #3283fc;
    padding: 20px;
    border-bottom: 1px solid #000000;
    display: flex;
}

.square {
    height: 7px;
    width: 10px;
    border: 1px solid #000000;
}

.square.alive {
    background-color: #fae100;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    margin: 0 0 0 200px;
    padding: 10px 20px;
    border-radius: 15px;
    z-index: 1;
    cursor: pointer;
}